
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Code starts here -- */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap');
/* COLOR PALETTE: GREEN =  hsl(141, 76%, 48%) BLACK =  hsl(0, 11%, 9%) */

html {
	font-family: 'Montserrat', sans-serif;
    color: hsl(0, 10%, 90%);
    background-color: hsl(0, 11%, 9%);
}
        

body nav {
    background-color: hsl(0, 11%, 3%);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

nav h1 {
    font-size: 2rem;
    font-weight: 800;
    color: hsl(141, 76%, 48%);
}

nav li {
    display: inline-block;
    padding: 1rem;
}

nav a {
    text-decoration: none;
    color: white;
    
}

nav li :hover {
    color: hsl(141, 76%, 48%);
}

header {
	display: flex;
	justify-content: space-between;
    align-items: top;
	margin: 6rem 6rem 12rem;
}

header h2 {
	font-size: 2rem;
    font-weight: 400;
	color: hsl(141, 76%, 48%);
	text-shadow: 1px 1px 8px hsl(0, 0%, 0%);
}

header form {
    align-items: flex-end;
    
}

button {
    background-color: hsl(141, 76%, 48%);
    border-style: none;
    border-radius: 20px;
    padding:0 2rem;
    color: white;
    font-size: .8rem;
    font-weight: 800;
    letter-spacing: .1rem;
	text-shadow: 1px 1px 5px hsl(142, 40%, 30%);
    height: 2rem;

}


header label {
	font-size: 2rem;
    font-weight: 400;
	color: hsl(141, 76%, 48%);
    padding-right: 1rem;
	text-shadow: 1px 1px 8px hsl(0, 0%, 0%);
}

.textInput {
    color: white;
    background-color: hsl(0, 11%, 3%);
    border: 1px solid hsl(0, 11%, 20%);
    margin-right: 1rem;
    padding: .5rem;
}

.submitButton {
    background-color: hsl(141, 76%, 48%);
    border-style: none;
    border-radius: 20px;
    padding:0 2rem;
    color: white;
    font-size: .8rem;
    font-weight: 800;
    letter-spacing: .1rem;
	text-shadow: 1px 1px 5px hsl(142, 40%, 30%);
    height: 2rem;
}

#playlistContainer{
    display: flex;
    flex-flow: wrap;
	margin: 6rem 6rem 12rem;
}

#playlistContainer .playlistCard {
    flex: 25%;
    box-shadow: 3px 3px 5px hsl(0, 0%, 2%);
    margin: 2rem;
}

.playlistCard h3 {
	font-size: 1.5rem;
    font-weight: 400;
	color: hsl(141, 76%, 48%);
    padding-right: 1rem;
    padding-bottom: 3rem;
	text-shadow: 1px 1px 8px hsl(0, 0%, 0%);
}


